<div id="about">
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <h2 class="heading">Acerca de mi</h2>
          </div>
          <div class="col-md-8">
              <p>
                  Soy estudiante de programación, desarrollo y de testing de software.
                  Me encanta aprender sobre el mundo de la informática y las nuevas tecnologías,
                  por eso estudio de manera autodidacta para mejorar mis habilidades.
              </p>
          </div>
      </div>
  </div>
</div>
<!-- End #about -->

<div id="experience" class="background-alt">
  <h2 class="heading">Experiencia</h2>
  <div id="experience-timeline">
      <div data-date="September 2015 – September 2016">
          <h3>Employer Name</h3>
          <h4>Job Title</h4>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat laoreet urna. Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus. Fusce eget efficitur libero. Morbi dapibus porta quam laoreet placerat.
          </p>
      </div>

      <div data-date="September 2015 – September 2016">
          <h3>Employer Name</h3>
          <h4>Job Title</h4>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat laoreet urna. Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus. Fusce eget efficitur libero. Morbi dapibus porta quam laoreet placerat.
          </p>
      </div>

      <div data-date="September 2015 – September 2016">
          <h3>Employer Name</h3>
          <h4>Job Title</h4>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat laoreet urna. Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus. Fusce eget efficitur libero. Morbi dapibus porta quam laoreet placerat.
          </p>
      </div>
  </div>
</div>
<!-- End #experience -->

<div id="education">
  <h2 class="heading">Educación</h2>
  <div class="education-block">
      <h3>Ministerio de Desarrollo Productivo Argentina, CESSI e INTI</h3>
      <span class="education-date">2021 - 2022</span>
      <h4>Programación Web Full Stack</h4>
          <li>
              Argentina Programa "Yo Programo" (Cursando Actualmente)
          </li>
          <li>
              Argentina Programa "Sé Programar"
          </li>
  </div>
  <!-- End .education-block -->



  <div class="education-block">
      <h3>Platzi</h3>
      <span class="education-date">2021 - 2022</span>
      <h4>Full Stack Developer || Testing de Software</h4>
      <ul>
          <li>
              Curso de Bootstrap (Cursando Actualmente)
          </li>
          <li>
              Curso de HTML y CSS (Cursando Actualmente)
          </li>
          <li>
              Curso de Fundamentos de pruebas de Software.
          </li>
          <li>
              Curso Profesional de Git y GitHub.
          </li>
          <li>
              Curso de algoritmos y Pensamiento Lógico.
          </li>
          <li>
              Curso de Automatización de Pruebas.
          </li>
          <li>
              Curso de Computación Básica
          </li>
      </ul>
  </div>
  <!-- End .education-block -->
</div>
<!-- End #education -->

<div id="projects" class="background-alt">
  <h2 class="heading">Proyectos</h2>
  <div class="container">
      <div class="row">
          <div class="project shadow-large">
              <div class="project-image">
                  <img src="images/project.jpg" />
              </div>
              <!-- End .project-image -->
              <div class="project-info">
                  <h3>Project Name Here</h3>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat laoreet urna. Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus. Fusce eget efficitur libero. Morbi dapibus porta quam laoreet placerat.
                  </p>
                  <a href="#">View Project</a>
              </div>
              <!-- End .project-info -->
          </div>
          <!-- End .project -->

          <div class="project shadow-large">
              <div class="project-image">
                  <img src="images/project.jpg" />
              </div>
              <!-- End .project-image -->
              <div class="project-info">
                  <h3>Project Name Here</h3>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat laoreet urna. Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus. Fusce eget efficitur libero. Morbi dapibus porta quam laoreet placerat.
                  </p>
                  <a href="#">View Project</a>
              </div>
              <!-- End .project-info -->
          </div>
          <!-- End .project -->
      </div>
  </div>
</div>
<!-- End #projects -->

<div id="skills">
  <h2 class="heading">Skills</h2>
  <ul>
      <li>JavaScript</li>
      <li>Python</li>
      <li>Ruby</li>
      <li>Go</li>
      <li>Node.js</li>
      <li>AngularJs</li>
      <li>React</li>
      <li>Elixir</li>
      <li>Java</li>
      <li>C</li>
      <li>C#</li>
      <li>C++</li>
      <li>Ruby on Rails</li>
      <li>JavaScript</li>
      <li>Python</li>
      <li>Ruby</li>
      <li>Go</li>
      <li>Node.js</li>
      <li>AngularJs</li>
      <li>React</li>
      <li>Elixir</li>
      <li>Java</li>
      <li>C</li>
      <li>C#</li>
      <li>C++</li>
      <li>Ruby on Rails</li>
  </ul>
</div>
<!-- End #skills -->

<div id="contact">
  <h2>Get in Touch</h2>
  <div id="contact-form">
      <form method="POST" action="https://formspree.io/email@email.com">
          <input type="hidden" name="_subject" value="Contact request from personal website" />
          <input type="email" name="_replyto" placeholder="Your email" required>
          <textarea name="message" placeholder="Your message" required></textarea>
          <button type="submit">Send</button>
      </form>
  </div>
  <!-- End #contact-form -->
</div>
<!-- End #contact -->

